### I Dizionari
Sono strutture dati in grado di associare un valore ad una key.
Le keys appartengono ad un SET, i valori appartengono ad una LIST

ES. creiamo un modello in cui associamo ad ogni città il suo stato.

La struttura del dizionario prevede nome_variabile[nome_key] = valore

In [1]:
elenco_citta = dict()
# utilizza come identificativo la chiave per salvare il valore
elenco_citta['Roma'] = 'Francia'

# sovrascrivendo il valore corrispondente ad una chiave esistente verrà effettuata la sostituzione
elenco_citta['Roma'] = 'Italia'
elenco_citta['Napoli'] = 'Italia'
elenco_citta['Barcelona'] = 'Spagna'
print(elenco_citta)

{'Roma': 'Italia', 'Napoli': 'Italia', 'Barcelona': 'Spagna'}

I dizionari permettono l'accesso al set di tutte le chiavi

In [2]:
#elenco_citta['Roma'] = 'Francia'
print(elenco_citta.keys())
print(elenco_citta.values())

dict_keys(['Roma', 'Napoli', 'Barcelona'])
dict_values(['Italia', 'Italia', 'Spagna'])

Avendo un elenco di città, è possibile ricavare lo stato di appartenenza

In [3]:
lista_citta = ['Roma','Napoli','Barcelona']
# vogliamo ottenere ad esempio ['Italia', 'Italia', 'Spagna']

print(elenco_citta[lista_citta[0]])

print([elenco_citta[citta] for citta in lista_citta])

Italia
['Italia', 'Italia', 'Spagna']

In [4]:
# ottenere una lista di stati (contenuti in elenco_citta) 
# corrispondenti solo a citta che hanno all'interno del proprio nome la lettere r

print( [elenco_citta[citta] for citta in elenco_citta if 'r' in citta ] )

# un altro metodo è:
print( [ value for key, value in elenco_citta.items() if 'r' in key])

['Spagna']
['Spagna']

Eliminare un valore da un dizionario.

In [6]:
d = {
    "key_1" : "value_1",
    "key_2" : "value_2"    
}
print(d)

del d['key_1']
print(d)

{'key_1': 'value_1', 'key_2': 'value_2'}
{'key_2': 'value_2'}

d.items() ci da una lista di tuple chiave valore iterabile. Vediamo come creare un dizionario inverso a d utilizzando questa funzione

In [9]:
d = {
    "key_1" : "value_1",
    "key_2" : "value_2"    
}

d_inv = {value:key for key, value in d.items()}
print(d_inv)

{'value_1': 'key_1', 'value_2': 'key_2'}

In [10]:
d.items()

dict_items([('key_1', 'value_1'), ('key_2', 'value_2')])

In [12]:
{k:v for k,v in d.items()}
elenco_citta

{'Roma': 'Italia', 'Napoli': 'Italia', 'Barcelona': 'Spagna'}

In [14]:
# creare un dizionario con i nomi delle città maiuscoli

elenco_CITTA = {k: v.upper() for k,v in elenco_citta.items()}
print(elenco_CITTA)

{'Roma': 'ITALIA', 'Napoli': 'ITALIA', 'Barcelona': 'SPAGNA'}